<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Trace" layout="
              ${longdate} 
              ${callsite} 
              ${level} 
              ${message} 
              ${event-properties:HttpMethod} 
              ${event-properties:Uri}
              ${event-properties:RequestHeader}
              ${event-properties:RequestBody}
              ${event-properties:StatusCode}
              ${event-properties:ReasonPhrase}
              ${event-properties:ResponseHeader}
              ${event-properties:ResponseBody}"
      />
    </targets>
    <rules>
      <logger name="RequestLogger" minlevel="Info" writeTo="console" />
    </rules>
  </nlog>
</configuration>